# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: OpenCQRS
site_url: https://docs.opencqrs.com
repo_url: https://github.com/open-cqrs/opencqrs

plugins:
  - social
  - macros
  - blog:
      blog_dir: blog
      post_date_format: long
      post_url_format: "{slug}"
      archive: true
      categories: true
  - rss:
      match_path: blog/posts/.*

extra:
  generator: false
  custom:
    framework_name: OpenCQRS
    framework_version: 1.0.0
    esdb_version: 1.2.0
    spring_boot_version: 4.0.1
  homepage: https://www.opencqrs.com
  social:
    - icon: fontawesome/solid/envelope
      link: "mailto:opencqrs@digitalfrontiers.de"
    - icon: fontawesome/solid/blog
      link: https://blog.digitalfrontiers.de
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/digital-frontiers-gmbh-co-kg
    - icon: fontawesome/solid/globe
      link: https://www.digitalfrontiers.de

extra_javascript:
  - js/open_external_in_new_tab.js

theme:
  name: material
  language: en
  logo: images/logo.png
  favicon: images/favicon.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.footer
    - navigation.tabs
    - navigation.indexes
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.snippets:
      auto_append:
        - includes/glossary.md
      check_paths: True

watch:
  - includes

nav:
  - Overview: index.md
  - Getting Started:
    - tutorials/README.md
    - Setting up the Environment: tutorials/01_setup/index.md
    - Handling Commands: tutorials/02_command_handling/index.md
    - Developing the Domain: tutorials/03_domain_logic/index.md
    - Handling Events: tutorials/04_book_reminder/index.md
    - Building Read Models from Events: tutorials/05_catalog_projection/index.md
    - Testing the Domain: tutorials/06_testing/index.md
  - Guides:
    - howto/README.md
    - Registering explicit Event Types: howto/explicit_type_registration/index.md
    - Upcasting Events: howto/upcasting_events/index.md
  - Reference:
    - reference/README.md
    - Modules: reference/modules/index.md
    - Event Representations: reference/events/index.md
    - Exception Handling: reference/exceptions/index.md
    - Core Components:
      - reference/core_components/index.md
      - ESDB Client: reference/core_components/esdb_client/index.md
      - Event Repository: reference/core_components/event_repository/index.md
      - Command Router: reference/core_components/command_router/index.md
      - Event Handling Processor: reference/core_components/event_handling_processor/index.md
    - Extension Points:
        - reference/extension_points/index.md
        - Defining Command Handlers: reference/extension_points/command_handler/index.md
        - Defining State Rebuilding Handlers: reference/extension_points/state_rebuilding_handler/index.md
        - Defining Event Handlers: reference/extension_points/event_handler/index.md
    - Test Support:
        - reference/test_support/index.md
        - Command Handling Tests: reference/test_support/command_handling_test_fixture/index.md
  - Concepts:
    - concepts/README.md
    - Events: concepts/events/index.md
    - Event Sourcing: concepts/event_sourcing/index.md
    - Event Upcasting: concepts/upcasting/index.md
  - Blog:
    - What's New: blog/index.md
